/* This file is for your main application css. */
$fa-font-path: "../fonts";
@import "font-awesome";
@import "bootstrap";

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4rem;
  color: #636779;
}

body {
}

h2 {
  color: #383B49;
  padding-top: 1.7rem;
  margin-top: 0;
  font-size: 2.05rem;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.05rem;
    line-height: 2.1rem; }
  h3 {
    font-size: 1.1rem; }
  body {
    font-weight: 300; }
}

thead td {
  text-transform: uppercase;
  font-weight: normal;
}
