/* This file is for your main application css. */
$fa-font-path: "../fonts";
// @import "font-awesome";
// @import "bootstrap";

$primary-color: #001ecc;

html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  color: #676767;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

a.active {
  color:  $primary-color;
}

h2 {
  color: #29292c; //#383B49;
  font-size: 2.05rem;
}

nav {
  width: 100%;
  height: 100px;

  .logo-wrapper {
    float: left;

    h1 {
      margin: 26px 0 0 0;
    }

    a {
      color: $primary-color;
    }
  }

  .nav-item {
    display: block;
    float: left;
    line-height: 80px;
    margin-right: 25px;

    &:first-child {
      margin-left: 25px;
    }
  }
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.box {
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 2rem;
}

.alert:empty {
  display: none;
}

thead td {
  text-transform: uppercase;
  color: #999;
  font-weight: normal;
}

tbody tr {
  border-bottom: 1px solid #f1f1f1;
  padding: 8px;
}

table td {
  padding-right: 10px;
}
