/* This file is for your main application css. */
$fa-font-path: "../fonts";
// @import "font-awesome";
// @import "bootstrap";

html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  color: #676767;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}

h2 {
  color: #29292c; //#383B49;
  font-size: 2.05rem;
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.box {
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 2rem;
}

.alert:empty {
  display: none;
}

thead td {
  text-transform: uppercase;
  color: #999;
  font-weight: normal;
}

tbody tr {
  border-bottom: 1px solid #f1f1f1;
  padding: 8px;
}
