<h2>Summits</h2>
<div>
  <table class="list">
    <thead>
      <tr>
        <td>Name</td>
        <td>Height</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <%= for summit <- @summits do %>
        <tr>
          <td><a href=""><%= summit.name %></a></td>
          <td><%= summit.height %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
